<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center">
      <span class="navbar-text t">
        Navbar text with an inline element
      </span>
    </div>
  </nav>